Repository voxpupuli/puppet-proxysql, pull requests merged in 2018-09, with the labels that each got.

#63 Allow puppetlabs/stdlib 5.x, puppetlabs/apt 6.x and puppetlabs/mysql 6.x
  metadata.json
Labels: enhancement

#47 package manager updates
  .fixtures.yml
  README.markdown
  examples/init.pp
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/repo.pp
  manifests/service.pp
  spec/classes/proxysql_spec.rb
Labels: backwards-incompatible, enhancement

#64 WIP: enable acceptance tests on travis; add debian 9 support
  .sync.yml
  .travis.yml
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement

#62 Support to add resource via class parameters. Add manage_hostgroup_fo…
  README.markdown
  examples/init.pp
  lib/puppet/provider/proxy_mysql_server_no_hostgroup/proxysql.rb
  lib/puppet/type/proxy_mysql_server_no_hostgroup.rb
  manifests/configure.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/proxysql_spec.rb
  types/hostgroup.pp
  types/rule.pp
  types/scheduler.pp
  types/server.pp
  types/user.pp
Labels: enhancement

#67 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  .travis.yml
  Gemfile
Labels: modulesync

#60 add ability to split config into 2 files
  CONTRIBUTORS
  README.markdown
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/prerequisites.pp
  manifests/reload_config.pp
  spec/classes/proxysql_spec.rb
  templates/proxysql.cnf.erb
  templates/proxysql_proxy.cnf.epp
Labels: enhancement, needs-work

#41 prep release 2.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#68 Support for Group Replication Hostgroups
  README.markdown
  examples/init.pp
  lib/puppet/provider/proxy_mysql_group_replication_hostgroup/proxysql.rb
  lib/puppet/type/proxy_mysql_group_replication_hostgroup.rb
  lib/puppet/type/proxy_mysql_replication_hostgroup.rb
  manifests/configure.pp
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/class_spec.rb
  templates/proxysql_proxy.cnf.epp
  types/groupreplicationhostgroup.pp
Labels: enhancement, needs-rebase, needs-tests
