Repository voxpupuli/puppet-proxysql, pull requests merged in 2019-12, with the labels that each got.

#125 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync

#123 drop Ubuntu 14.04 support
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#126 Manage SELinux rules to allow logrotate to work
  .fixtures.yml
  .travis.yml
  README.markdown
  manifests/init.pp
  manifests/selinux.pp
  metadata.json
  spec/classes/proxysql_spec.rb
  spec/spec_helper_acceptance.rb
Labels: enhancement

#130 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#131 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
  lib/puppet/provider/proxy_mysql_galera_hostgroup/proxysql.rb
  lib/puppet/type/proxy_mysql_galera_hostgroup.rb
  spec/unit/puppet/type/proxy_mysql_galera_hostgroup_spec.rb
Labels: modulesync
