Repository voxpupuli/puppet-proxysql, pull requests merged in 2019-07, with the labels that each got.

#103 Add proxy_mysql_galera_hostgroup type
  README.markdown
  examples/init.pp
  lib/facter/proxysql_version.rb
  lib/puppet/provider/proxy_mysql_galera_hostgroup/proxysql.rb
  lib/puppet/type/proxy_mysql_galera_hostgroup.rb
  manifests/configure.pp
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/class_spec.rb
  spec/type_aliases/galerahostgroup_spec.rb
  spec/types/proxy_mysql_galera_hostgroup_spec.rb
  spec/unit/facter/proxysql_version_spec.rb
  spec/unit/puppet/provider/proxysql_spec.rb
  spec/unit/puppet/type/proxy_mysql_galera_hostgroup_spec.rb
  templates/proxysql_proxy.cnf.epp
  types/galerahostgroup.pp
Labels: enhancement

#81 fix bug in types that int[0,1] were boolean
  types/rule.pp
  types/server.pp
  types/user.pp
Labels: bug

#98 Added the ability to forcibly set NULL for fields in settings proxy_mysql_query_rule
  lib/puppet/provider/proxysql.rb
Labels: enhancement

#108 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#109 Add `datadir_mode` parameter
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  spec/classes/proxysql_spec.rb
Labels: enhancement

#110 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#111 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
