Repository voxpupuli/puppet-proxysql, pull requests merged in 2019-03, with the labels that each got.

#91 Bugfix: Add missing dependencies
  manifests/install.pp
Labels: bug

#93 Fix and refactor install.pp relationships
  manifests/install.pp
Labels: bug

#86 modulesync 2.5.1 & drop Puppet 4
  .editorconfig
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  README.markdown
  Rakefile
  examples/init.pp
  manifests/install.pp
  metadata.json
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-20-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#94 add repo for 2.0.x
  README.markdown
  manifests/init.pp
  manifests/params.pp
  manifests/repo.pp
Labels: enhancement
