Repository voxpupuli/puppet-proxysql, pull requests merged in 2020-05, with the labels that each got.

#148 Fixup Amazon 2016 issues
  manifests/params.pp
  manifests/service.pp
  spec/classes/proxysql_spec.rb
Labels: bug

#147 Release 5.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#149 Introduce `manage_mysql_client` boolean to toggle whether or not to include mysql::client
  manifests/init.pp
  manifests/install.pp
Labels: enhancement
