Repository voxpupuli/puppet-proxysql, pull requests merged in 2024-11, with the labels that each got.

#216 Fix tests, drop support for proxysql versions < 2.2
  README.markdown
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  manifests/repo.pp
  manifests/service.pp
  spec/acceptance/class_spec.rb
  spec/classes/proxysql_spec.rb
Labels: backwards-incompatible

#220 add Debian 11/12 as supported OS
  metadata.json
Labels: enhancement

#221 add Ubuntu 22.04/24.04 as supported OS
  metadata.json
Labels: enhancement

#219 add OracleLinux 8/9 as supported OS
  metadata.json
Labels: enhancement

#218 add CentOS 9 as supported OS
  metadata.json
Labels: enhancement

#217 add RedHat 8/9 as supported OS
  metadata.json
Labels: enhancement

#222 drop RedHat 7 as supported OS
  metadata.json
Labels: backwards-incompatible

#225 drop Debian 10 as supported OS
  metadata.json
Labels: backwards-incompatible

#224 drop OracleLinux 7 as supported OS
  metadata.json
Labels: backwards-incompatible

#223 drop CentOS 7 as supported OS
  metadata.json
Labels: backwards-incompatible

#203 modulesync 9.3.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .puppet-lint.rc
  .rspec
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  lib/puppet/provider/proxy_cluster/proxysql.rb
  lib/puppet/provider/proxy_mysql_galera_hostgroup/proxysql.rb
  lib/puppet/provider/proxy_mysql_group_replication_hostgroup/proxysql.rb
  lib/puppet/provider/proxy_mysql_query_rule/proxysql.rb
  lib/puppet/provider/proxy_mysql_replication_hostgroup/proxysql.rb
  lib/puppet/provider/proxy_mysql_server/proxysql.rb
  lib/puppet/provider/proxy_mysql_server_no_hostgroup/proxysql.rb
  lib/puppet/provider/proxy_mysql_user/proxysql.rb
  lib/puppet/provider/proxysql.rb
  spec/spec_helper.rb
Labels: modulesync

#226 replace legacy facts in tests
  spec/classes/proxysql_spec.rb
Labels: skip-changelog

#228 allow puppetlabs/apt <= 10.0.0
  metadata.json
Labels: enhancement

#227 allow puppetlabs/mysql <= 17.0.0
  metadata.json
  spec/acceptance/class_spec.rb
Labels: enhancement

#211 update puppet-systemd upper bound to 8.0.0
  metadata.json
Labels: enhancement

#202 Add Puppet 8 support
  metadata.json
Labels: enhancement

#230 allow puppet/extlib <= 8.0.0
  metadata.json
Labels: enhancement

#229 require puppetlabs/mysql >= 6.0.0
  metadata.json
Labels: backwards-incompatible
